/* 去掉 "笔记属性" 标题 */
.metadata-properties-heading {
    display: none;
}

/* 代码块不换行 */
/* https://github.com/mgmeyers/obsidian-style-settings/issues/138 */

/* un-wrap code */
.HyperMD-codeblock {
    white-space: nowrap;
}

/* scroll codeblock in read mode */
.markdown-reading-view code[class*="language-"] {
    overflow-x: auto;
    white-space: pre;
}

/* Cascadia Mono Light */
.markdown-rendered code, .HyperMD-codeblock, .cm-inline-code {
    font-weight: 300;
}
