/* #region Metadata Properties Title */

.metadata-properties-title {
    color: var(--text-muted);
    font-size: var(--metadata-label-font-size);
    font-weight: bold;
}

/* #endregion */

/* #region 代码块不换行 https://github.com/mgmeyers/obsidian-style-settings/issues/138 */

/* un-wrap code */
.HyperMD-codeblock {
    white-space: nowrap;
}

/* scroll codeblock in read mode */
.markdown-reading-view code[class*="language-"] {
    overflow-x: auto;
    white-space: pre;
}

/* #endregion */

/* #region Cascadia Mono Light */

.markdown-rendered code, .HyperMD-codeblock, .cm-inline-code {
    font-weight: 300;
}

/* #endregion */

/* #region 表格居中 https://forum.obsidian.md/t/css-to-center-table-is-broken/80624 */

table, .table-wrapper {
    margin-inline: auto;
}

/* #endregion */

/* #region 去掉链接的下划线 */

body {
    --link-decoration: none; 
    --link-external-decoration: none; 
}

/* #endregion */
