/* 去掉 "文章属性" 标题 */
.metadata-properties-heading {
    display: none;
}

/* 编辑模式下 table 的 wrapper */
.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper {
    width: 100% !important;
}

/* table 的宽度 100% */
.markdown-rendered table {
    width: 100% !important;
}

/* 代码块显示的时候不要自动换行 */
.markdown-rendered pre code[class*="language-"] {
    text-wrap: nowrap;
}
