/* 图片居中显示 */
.media-embed {
    display: flex !important;
    justify-content: center  !important;
}

.image-captions-figure,
.image-captions-caption {
    background: none !important;
}

.image-captions-caption {
    font-size: 0.8rem;
    opacity: 0.8;
}

.responsive-video-container {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.responsive-video-container iframe,
.responsive-video-container object,
.responsive-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}