/* #region 图片 caption https://github.com/Akifyss/obsidian-border/issues/134 */

body .image-embed[alt] {
    padding: var(--size-4-1) 0;
}

body .image-embed[alt]::after {
    display: block;
    text-align: center;
}

body .image-embed[alt]:not([alt$=".png"], [alt$=".jpg"], [alt$=".jpeg"], [alt$=".tiff"], [alt$=".webp"], [alt$=".bmp"])::after {
    content: attr(alt);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: var(--font-smaller);
    color: var(--text-faint);
}

body .view-content img:not(.emoji) {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* #endregion */

/* #region 自适应视频大小 */

.responsive-video-container {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.responsive-video-container iframe,
.responsive-video-container object,
.responsive-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* #endregion */
