<!-- Post excerpt -->
<article class="md-post md-post--excerpt">
  <header class="md-post__header">

    <!-- Post metadata -->
    <div class="md-post__meta md-meta">
      <ul class="md-meta__list">

        <!-- Post Source RSS -->
        {% if post.srcRSS %}
          <li class="md-meta__item">
            <a
              href="{{ post.srcRSS.firstPageCanonicalUrl }}"
              class="md-meta__link"
              title="{{ post.srcRSS.description }}"
            >
              {{- post.srcRSS.title -}}
            </a>
            {#- Collapse whitespace -#}
          </li>
        {% endif %}

        <!-- Post date -->
        <li class="md-meta__item">
          <time datetime="{{ post.publish }}">
            {{- post.publish -}}
          </time>
          {#- Collapse whitespace -#}
        </li>

        <!-- Post tags -->
        {% if post.tags %}
          <li class="md-meta__item">
            {{ lang.t("blog.categories.in") }}
            {% for tag in post.tags %}
              {{- tag -}}
              {%- if loop.revindex > 1 %}, {% endif -%}
            {% endfor -%}
          </li>
        {% endif %}

      </ul>
    </div>
  </header>

  <!-- Post content -->
  <div class="md-post__content md-typeset">
    {{ post.content }}

    <!-- Continue reading link -->
    <nav class="md-post__action">
      <a href="{{ post.url }}" target="_blank">
        {{ lang.t("blog.continue") }}
      </a>
    </nav>
  </div>
</article>