@font-face {
    font-family: HarmonyOS Sans;
    src: url(/assets/fonts/HarmonyOS_Sans_SC_Regular.ttf);
}

@font-face {
    font-family: JetBrains Mono;
    src: url(/assets/fonts/JetBrainsMono-Regular.woff2);
}