/**
 * 主题样式
 */

[data-md-color-scheme=default] {
    --md-footer-fg-color: #000000de;
    --md-footer-fg-color--light: #000000b6;
    --md-footer-fg-color--lighter: #0000006d;
    --md-footer-bg-color: #eeeeee;
    --md-footer-bg-color--dark: #eeeeee;
}

[data-md-color-scheme=slate] {
    --md-default-bg-color: #121212;
    --md-default-fg-color: #d3d3d3;
    --md-default-fg-color--light: #9e9e9e;
    --md-default-fg-color--lighter: #646464;
    --md-default-fg-color--lightest: #323232;
    --md-code-bg-color: #1d1d1d;
    --md-code-hl-comment-color: #727272;
    --md-footer-bg-color: #1f1f1f;
    --md-footer-bg-color--dark: #1f1f1f;
}

[data-md-color-primary=black] .md-header,
[data-md-color-primary=black] .md-tabs {
    background-color: #1f1f1f;
}

@media screen and (max-width: 76.234375em) {
    html [data-md-color-primary=black] .md-nav--primary .md-nav__title[for=__drawer] {
        background-color: #1f1f1f;
    }
}

@media screen and (max-width: 59.984375em) {
    [data-md-color-primary=black] .md-nav__source {
        background-color: #1f1f1f;
    }
}

[data-md-color-primary=black] [data-md-component=announce] .md-banner {
    background-color: #121212;
}
